/**************************************************************
* Light purple color on Admin Login Page (previously): #e5b6fc
* Background color of site: #1F2833
* Theme color: #66FCF1
**************************************************************/

/**********************************
* BASIC SETUP
**********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Arial", sans-serif;
	font-size: 18px;
    /*---Make fonts rendering in perfect way---*/
    text-rendering: optimizeLegibility;
    color: white;
}

body {
    overflow-x:hidden;
    background-color: #1F2833;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

input[type=button], input[type=submit], input[type=reset] {
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

/****************
* HEADINGS
****************/
h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

/***********************
* NAVIGATION + HOMEPAGE
***********************/

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #010101;
}

.nav li {
    float:right;
}

li.home_icon {
    float:left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    margin: 0px 10px;
    text-decoration: none;
}

.nav ul a:hover {
    color:#66FCF1;
}

hr {
    margin:0;
    padding:0;
    color: black;
}

.main{
    border: none;
    height: 46vw;
    background: url("../resources/images/attractive-beautiful-beauty-157967.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position:center;
}

.background_text h1{
    color: whitesmoke;
    float: left;
    clear:both;
    padding-left: 3%;
    font-size: 7vw;
    font-family: "Dancing Script", "Arial", sans-serif;
}

.background_text h2 {
    color: whitesmoke;
    float: left;
    clear:both;
    padding-left: 8%;
    font-size: 2vw;
    
}

.motto p {
    font-family: "Josefin Slab", "Arial", sans-serif;
    font-size: 200%;
    text-align: center;
}

article p {
    text-align: center;
    font-size: 100%;
    padding: 5%;
}

a.active{
      text-decoration: underline;
}

/****************
* VERTICAL NAV
****************/
.vertical_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
    overflow: auto;
}

.vertical_nav li a {
    display: block;
    color: white;
    padding: 30px 16px;
    text-decoration: none;
    border-right: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
}

#vertical_nav_last_item a{
    border-bottom: 0px lightgrey solid;
}

.vertical_nav li.active a {
  background-color: #4CAF50;
  color: white;
}

.vertical_nav li a:hover:not(.vactive) {
 color: #66FCF1;
}

.adminHeading h2 {
    text-align: center;
}

.adminHeading p {
    text-align: center;

}

/* Not sure what's this
.home_icon i {
    width: 50px;
    height: auto;
}*/

.vactive{
    background-color: #66FCF1;
}

/****************
* FOOTER
****************/
.footer {
    background-color: #010101;
    position: relative;
    bottom: 0;
    height: 100%;
}

.footer ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    float: left;
}

.footer li {
    display: block;
    text-align: center;
    padding: 14px 20px;
    margin: 0px 20px;
}

.footer a {
    color:white;
}

.footer_container {
    position: relative;
    padding: 13px;
}

.footer_container i {
    width: 50px;
    height: auto;
}

.footer_left {
    position: absolute;
    left: 38%;
    bottom: 0;
}

.footer_center {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.footer_right {
    position: absolute;
    left:60%;
    bottom: 0;
}

/******************
* ADMIN LOGIN PAGE
******************/
.loginPage {
    background: url(img/loginPageImg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-box {
    width: 280px;
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #66FCF1;
    margin-bottom: 30px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #66FCF1;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}


.loginBtn {
    width: 100%;
    background: none;
    border: 2px solid #66FCF1 !important;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 15px 0;
}

/********************************
* ADMIN STOCK AND INVENTORY PAGE
********************************/

.adminStockPage {
    font-size: 19px;
}

tr {
    border-bottom: 1px solid #e5b6fc;
}

th, td {
    border: none;
    height: 30px;
    padding: 0 10px;
}

/* The hover was a bit annoying so I comment it out for now
tr:hover {
    background: #F5F5F5;
}*/

.adminStockForm {
    width: 97%;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.input-group {
    margin: 10px 0;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.adminStockBtn {
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #e5b6fc;
    border: none;
    border-radius: 5px;
}

.msg {
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #35d935;
    background: #dff0d8;
    width: 50%;
    text-align: center;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.delete_btn {
    text-decoration: none;
    padding: 0.5px 5px;
    background: #800000;
    color: white;
    border-radius: 3px;
}
/******************
* SERVICES PAGE
******************/

.space {
    padding: 30px;
}

.gap {
    padding-left: 175px;
	font-size: 200%;
}

.center_space{
    padding-top: 20px;
    padding-bottom: 30px;
}

#gst{
    text-align: right;
    padding-right: 20px;
}

/******************
*  PRODUCTS PAGE
******************/

.product{
    width: 247px;
    height: 247px;
    display: inline-block;
    vertical-align: middle;
}

/******************
*  TIMESLOTS PAGE
******************/

.green_text{
   color: limegreen;
}
 
.red_text{
    color: red;
}

.grey_text{
    color: dimgray;
}

.open{
   background-color: limegreen;
}

.booked{
   background-color: red;
}

.closed{
    background-color: dimgray;
}



/*********************************
*  ADMIN ADD/EDIT CUSTOMER PROFILE
*********************************/

form.add_customer, form.add_purchase {
    text-align: center;
    border: none;
}

.add_customer fieldset, .add_purchase fieldset {
    margin: 20px;
}

#add_customer_submit, #add_customer_reset, #add_customer_update, #add_purchase_submit {
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 16px 32px;
    margin: 5px;
    border-radius: 5px;
}

#add_customer_submit:hover, #add_customer_reset:hover, #add_customer_update:hover, #add_purchase_submit:hover {
    background-color: black;
    color: white;
}

#countryCode {
    width: 10%;
}

.add_purchase_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #0031ff;
    color: white;
    border-radius: 3px;
    white-space: nowrap;
}

/*********************
*  ADMIN EDIT CUSTOMER
*********************/

input[type="search"] {
    border: 1px solid black;
}

#product_1, #product_2, #product_3, #product_4, #product_5, #product_6 {
    width: 20%;
}

/*******************
* ADMIN REPORT PAGES
*******************/

.report {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.report th, .report td {
    text-align: center;
}

.generate_report_button{
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px 4px;
    margin: 4px;
    border-radius: 5px;
}

.generate_report_button:hover {
    background-color: black;
    color: white;
}

.center {
    text-align: center;
}

/*****************
ADMIN BOOKING PAGE
*****************/

.timeslot td{
    text-align: left;
}

#booking_customer_submit, #booking_customer_reset {
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 16px 32px;
    margin: 5px;
    border-radius: 5px;
}

#booking_customer_submit:hover, #booking_customer_reset:hover {
    background-color: black;
    color: white;
}

form.booking {
    text-align: center;
    border: none;
}

/***********
* SCROLLING
***********/
.pageContent {
    height: 550px;
    overflow-y: auto;
}

/*************
* CALENDAR
*************/
.fc-unthemed td.fc-today {
    background: #337ab7 !important;
    /*background: #66FCF1 !important;*/
}

/*************
* GENERATE PDF
*************/
#generate_PDF {
    visibility: hidden;
}


/*************
* FORM DESIGN
*************/

input[type=text] {
  color: black;
}